* {
  /* NOTE TO SELF: I need to go back and add this blurb to a lot of my other web projects */
  user-select: none;
  -webkit-user-drag: none;
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.button {
  background: none;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border: none;
  outline: none;
}

.button img {
  width: 100%;
  height: auto;
  display: block;
}

.buttons-group {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.button:focus {
  outline: none; 
  box-shadow: none; 
}

.cone-buttons {
  margin-top: -40px; 
}

.cone-order {
  position: absolute;
  width: 100%;
}

.counter {
  position: absolute;
  width: 100%;
  max-height: 20vh;
  background-color: #9F86C0;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 30px;
  box-sizing: border-box;
  border-top: 8px solid #241843;
}

.coin-counter {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  background: #FFF0F0BF;
  color: #000;
  border: 2px solid #241843;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.customer {
  width: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disable-buttons button:not(.screen-button){
  pointer-events: none; /* Prevent clicking */
  opacity: 0.5; /* Visual indication that buttons are disabled */
}

.disable-buttons {
  pointer-events: none; /* Disable all interactions within this container */
}

.disable-buttons .screen-button{
  pointer-events: auto; /* Enable specific buttons */
  opacity: 1;
}

.high-scores {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.high-scores-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.high-score-item {
  font-size: 18px;
  color: #241843;
  font-family: 'Lato', sans-serif;
}


.ice-cream {
  flex: 0 0 auto;
  width: 220px;
  height: 220px;
  position: relative;
}

.ice-cream-cone {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ice-cream-scoop {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
}


.order {
  position: relative;
  cursor: pointer;
  z-index: 1; 
  position: absolute;
  bottom: 105%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100px;
}

.order::before {
  content: '';
  position: absolute;
  width: 200px; 
  height: 260px;
  background-color: #FFF0F0BF;
  border: 4px solid #241843;
  border-radius: 50%;
  z-index: -1; 
  top: -260px;
}

.scoop-order {
  position: absolute;
  bottom: calc(100px + var(--scoop-index) * 20px);
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
}

.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1000px;
  height: 60%;
  padding: 30px;
  background-color: #FFF0F0BF;
  border: 4px solid #241843;
  border-radius: 20px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.screen-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #241843;
  font-family: 'Pacifico', cursive;
}

.screen-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #241843;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
}

.screen-button {
  background-color: #241843;
  color: #FFF;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

.restart-button {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  outline: none; 
}

.restart-button img {
  width: 100%;
  height: auto;
  display: block;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  background: #FFF0F0BF;
  color: #000;
  border: 2px solid #241843;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

@media (max-width: 1600px) {
  .button {
    max-width: 100px;
  }

  .customer {
    max-width: 80px;
    transform: translate(0%, 20%) !important;
  }

  .ice-cream-cone {
    width: 160px;
  }

  .ice-cream-scoop {
    width: 75%;
    transform: translate(-70%, 30%);
  }

}

@media (max-width: 480px) {
  /* .button {
    width: 70px;
    height: 70px;
  } */

  .ice-cream-cone {
    width: 70%; 
  }

  .ice-cream-scoop {
    width: 80%;
  }
}