.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.background {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1;
}

.counter {
  position: absolute;
  width: 100%;
  max-height: 25vh;
  background-color: #9F86C0;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 30px;
  box-sizing: border-box;
}

.ice-cream {
  flex: 0 0 auto;
  width: 220px;
  height: 220px;
  position: relative;
}

.ice-cream-cone {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ice-cream-scoop {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
}

.buttons-group {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.button {
  background: none;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border: none;
  outline: none;
}

.button img {
  width: 100%;
  height: auto;
  display: block;
}

.button:focus {
  outline: none; 
  box-shadow: none; 
}

.restart-button {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  outline: none; 
}

.restart-button img {
  width: 100%;
  height: auto;
  display: block;
}

.customer {
  width: 150px;
}

.order {
  position: relative;
}

.order::before {
  content: '';
  position: absolute;
  width: 200px; 
  height: 300px;
  background-color: #FFF0F0BF;
  border: 4px solid #241843;
  border-radius: 50%;
  z-index: -1; 
  top: -270px;
}

.cone-buttons {
  margin-top: -30px; 
}

@media (max-width: 1600px) {
  .button {
    max-width: 100px;
  }

  .ice-cream-cone {
    width: 160px;
  }

  .ice-cream-scoop {
    width: 75%;
    transform: translate(-70%, 30%);
  }

  .customer {
    transform: translate(0%, 20%);
  }
}

@media (max-width: 480px) {
  /* .button {
    width: 70px;
    height: 70px;
  } */

  .ice-cream-cone {
    width: 70%; 
  }

  .ice-cream-scoop {
    width: 80%;
  }
}